<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="..//static/index.css">
</head>
<body>
    <video autoplay muted loop class="video-background">
        <source src="..//static/videos/index_employee.mp4" type="video/mp4">
    </video>

    <div class="header">
        <div class="logo">FreshMart Employee</div>
        <div class="nav">
            <a href="/register"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="Register Icon">Register</a>
            <a href="/login"> <img src="https://cdn-icons-png.flaticon.com/512/747/747545.png" alt="Login Icon">Login</a>
        </div>
    </div>

    <div class="content">
        <h1>Welcome to FreshMart Employee Portal</h1>
        <p>Manage your tasks and grow with us.</p>
    </div>
</body>
</html>
