body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container {
    padding: 20px;
    background-color: #f4f4f4;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #f5a607;
}

p {
    font-size: 18px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #f5a607;
    border-radius: 5px;
}

a:hover {
    background-color: #aa8708;
}