 /* General Styles */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("index_employee.mp4");
}

/* Header Styles */
.header {
    background-color: #232f3e;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    display: flex; width: 100%;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff9900;
}

a:hover .logo {
    color: #905c08; /* Change color on hover */
}

.header .nav {
    display: flex;
    gap: 20px;
}

.header .nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.header .nav a img {
    width: 20px;
    height: 20px;
}

.header .nav a:hover {
    background-color: #ff9900;
}

/* Main Content */
.content {
    text-align: center;
    padding: 50px 20px;
}

.content h1 {
    color: #f3f4f6;
    font-size: 3em;
}

.content p {
    font-size: 1.5em;
    color: #fbfbfb;
}
/* Video Background */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(-45) blur(0px); /* Increase brightness and apply slight blur */
}