body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 25px 0 0 25px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff9900;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #e38c00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead th {
    background-color: #ff9900;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}

table tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn {
    padding: 8px 12px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #218838;
}




  /* Header Styles */
 .header {
    background-color: #232f3e;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff9900;
}

a:hover .logo {
    color: #905c08; /* Change color on hover */
}

.header .nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    position: relative;
}

.header .nav a img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.header .nav a:hover {
    background-color: #ff9900;
}


